.tabWrapper {
    .nav-tabs {
        border: 0;
        padding-bottom: 22px;
    }
    .nav {
        gap: 30px;
        .nav-item {
            .nav-link {
                background: #f5f5f7;
                border-radius: 8px;
                border: 0 !important;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #43495f;
                width: 100px;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;

                &.active {
                    background: var(--clr-blue) !important;
                    border-radius: 8px;
                    border: 0 !important;
                    color: #fff;
                }
            }
        }
    }
}

.inputForm {
    .form-label {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: #43495f;
    }
    .form-control {
        border: 1.5px solid #eaebee;
        border-radius: 8px;
        height: 56px;
        padding-left: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        color: #6c707d;

        &:focus {
            box-shadow: none !important;
        }
    }
    .form-select {
        border: 1.5px solid #eaebee;
        border-radius: 8px;
        height: 56px;
        padding-left: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        color: #6c707d;

        &:focus {
            box-shadow: none !important;
        }
    }
}

.checkItem {
    .form-check-input {
        &:focus {
            box-shadow: none !important;
            background: #219fff;
            border-radius: 4px;
        }
    }
    .form-check-label {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #6c707d;
    }
}

.donation-border {
    border-bottom: 1.5px solid #e5e6e8;
}

.donatorPersonInfo {
    .form-label {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: #43495f;
    }
    .form-control {
        border: 1.5px solid #eaebee;
        border-radius: 8px;
        height: 56px;
        padding-left: 50px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        color: #6c707d;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0002 10C12.3013 10 14.1668 8.13454 14.1668 5.83335C14.1668 3.53217 12.3013 1.66669 10.0002 1.66669C7.69898 1.66669 5.8335 3.53217 5.8335 5.83335C5.8335 8.13454 7.69898 10 10.0002 10Z' stroke='%236C707D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.1585 18.3333C17.1585 15.1083 13.9501 12.5 10.0001 12.5C6.05013 12.5 2.8418 15.1083 2.8418 18.3333' stroke='%236C707D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: left 5% center;
        @media (max-width:991px) {
            background-position: left 3% center;
        }
        @media (max-width:400px) {
            background-position: left 5% center;
        }

        &:focus {
            box-shadow: none !important;
        }
    }
    .form-select {
        border: 1.5px solid #eaebee;
        border-radius: 8px;
        height: 56px;
        padding-left: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        color: #6c707d;

        &:focus {
            box-shadow: none !important;
        }
    }
    #formBasicEmail {
        &.form-control {
            border: 1.5px solid #eaebee;
            border-radius: 8px;
            height: 56px;
            padding-left: 58px;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.05em;
            color: #6c707d;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1665 17.0833H5.83317C3.33317 17.0833 1.6665 15.8333 1.6665 12.9166V7.08329C1.6665 4.16663 3.33317 2.91663 5.83317 2.91663H14.1665C16.6665 2.91663 18.3332 4.16663 18.3332 7.08329V12.9166C18.3332 15.8333 16.6665 17.0833 14.1665 17.0833Z' stroke='%23BFC0C5' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.1668 7.5L11.5585 9.58333C10.7002 10.2667 9.29183 10.2667 8.43349 9.58333L5.8335 7.5' stroke='%23BFC0C5' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: left 3% center;

            &:focus {
                box-shadow: none !important;
            }

            @media (max-width:400px) {
                background-position: left 5% center;
            }
        }
    }
}

.paymentCheckBox {
    .form-check{
        padding: 0;
    }
    .form-check-label {
        height: 56px;
        background-color: #f5f5f7;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    .form-check-label{

        .form-check-input{
            &:checked ~{
                .show{
                    display: block !important;
                }
                .hide{
                    display: none !important;
                }
            }
        }
    }
}

    .show {
            top: 16px;
    right: 20px;
    }
    .hide {
            top: 16px;
    right: 20px;
    }

